*{
	margin:0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	box-sizing: border-box;
}
.content{
	width: 80%;
	margin:0 auto;
	color:rgb(124,138,144);
}
.menu_mobile,
.menu_options{
	display: none;
}
header{
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding:20px 60px;
	padding-bottom: 10px;
}
header .logo img{
	height: 65px;
	width: auto;
	vertical-align: top;
}
header .menu nav a{
	text-decoration: none;
	color:rgb(124,138,144);
	padding:10px;
	font-weight: bold;
}
header .menu nav a.want{
	color: #00b169;
}
header .menu nav a:hover{
	transition: .3s all ease;
	color:#00b169;
}
.message{
	padding:20px;
	color:white;
	position: fixed;
	top:0;
	width: 100%;
	display:flex;
	align-items: center;
	justify-content: space-between;
	z-index: 999;
	visibility: hidden;
}
.message p{
	font-size: 18px;
}
.message i{
	font-size: 20px;
	cursor: pointer;
}
.ok{
	background: #488A48;
}
.thumb{
	position:relative;
	display:flex;
	flex-direction: column;
	align-items: center;
}
.thumb .slider{
	width: 100%;
	overflow: hidden;
}
.thumb .slider ul.sl_mobile{
	display:none;
}
.thumb .slider ul{
	width: 400%;
	display:flex;
	padding:0;
	animation: change 20s infinite alternate;
}
.thumb .slider ul li{
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: center;
	overflow: hidden;
}
.thumb .slider ul li img{
	width: 100%;
	height: 500px;
}
.thumb .content{
	position: absolute;
	top:125px; /* This is because the slider has a height of 500px */
	width: 80%;
	margin: 0 auto;
	display:flex;
	justify-content: space-between;
	/* align-items: flex-end; */
}
.thumb .content .text{
	width: 55%;
}
.thumb .content .mobile{
	display:none;
}
.thumb .content .text h1{
	color:rgb(202,224,80);
	font-weight: bold;
	font-size: 40px;
	margin-bottom: -5px;
}
.thumb .content .text .list{
	margin-bottom: 18%;
}
.thumb .content .text .list li{
	list-style: none;
	font-size: 24px;
	color:white;
	font-weight: bold;
	display:flex;
	align-items: baseline;
	margin-bottom: -23px;
	letter-spacing: .5px;
}
.thumb .content .text .list li span{
	margin-right: 5px;
	font-size: 40px;
}
.thumb .content h2{
	font-size: 35px;
	font-weight: normal;
}
.thumb .content  h2 span{
	color:rgb(0, 177, 105);
	font-weight: bold;
}
.thumb .content .list2 li{
	font-size: 20px;
	list-style: none;
	margin-bottom: -17px;
}
.thumb .content .list2 li span.bull{
	color:rgb(0, 177, 105);
	font-size: 35px;
	margin-right: 7px;
}
.thumb .conten .list2 li span.bld{
	font-weight: bold;
}
.thumb .content .form{
	width: 40%;
	background: white;
	padding:20px;
	box-shadow: 0 0 10px gray;
}
.thumb .content .form p.tit{
	font-size: 30px;
	text-align: center;
	color:rgb(201,224,79);
	margin-bottom: 15px;
	letter-spacing: .5px;
}
.thumb .content .form p.tit span{
	font-weight: bold;
	color:rgb(0, 177, 105);
}
.thumb .content .form .inputflex{
	width: 100%;
	display:flex;
	justify-content: space-between;
}
.thumb .content .form .inputflex input[type='text'],
.thumb .content .form .inputflex .select{
	width: 48%;
}
.thumb .content .form input[type='text']{
	width: 100%;
	box-sizing: border-box;
	padding:10px;
	/* margin-bottom: 15px; */
	/* border:none;
	border:1px solid gray; */
	color:gray;
	font-size: 15px;
	opacity: .8;
}
.select{
  	width: 100%;
  	overflow: hidden;
  	/* background: #fff url("https://storage.googleapis.com/instapage-app-assets/img/builder2/select-arrow-drop-down.png") no-repeat 100% center;
  	display: flex; */
  	align-items: center;
  	z-index: 99;
  	box-sizing: border-box;
	padding:10px;
	margin-bottom: 15px;
	/* border:none;
	border:1px solid gray; */
	color:gray;
	font-size: 15px;
	opacity: .8;
  	opacity: .7;
}
.select select {
 	display: block;
    width: 130%;
    /* border: none; */
    box-shadow: none;
    background-color: transparent;
    /* background-image: none; */
    appearance: none;
    -webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	overflow: visible;
	opacity: .8;
}
.select select option{
	width: 130%;
}
.thumb .content .form input[type='submit']{
	margin-top: 10px;
	border:none;
	width: 100%;
	padding:10px;
	background: #5177ad;
	color:white;
	font-weight: 400;
	letter-spacing: .5px;
	font-size: 23px;
	cursor: pointer;
}
.thumb .content .form .legales{
	width: 100%;
	margin-top: 20px;
}
.pasos{
	margin-top: 390px;
}
.pasos .content{
	display:flex;
	justify-content: space-between;
}
.pasos .youonly{
	width: 40%;
}
.pasos .youonly .princ{
	font-size: 35px;
}
.pasos .youonly .second{
	font-size: 35px;
	font-weight: bold;
	color:#5177ad;
}
.pasos .youonly .video_btn{
	margin-top: 50px;
	background: rgb(0, 177, 105);
	color:white;
	font-size: 20px;
	display:flex;
	justify-content: center;
	align-items: center;
	padding:10px;
	width: 60%;
	cursor: pointer;
}
.pasos .youonly .video_btn i{
	margin-right: 10px;
}
.pasos .steps{
	width: 55%;
}
.pasos .steps li{
	list-style: none;
	display:flex;
	font-weight: 400;
	align-items: flex-start;
	margin-bottom: 20px;
	font-size: 22px;
}
.pasos .steps li img{
	height: 65px;
	margin-right: 40px;
	color:rgb(201, 224, 79);	
}
.video_pasos,
.video{
	top:0;
	width: 100%;
	height: 100%;
	position: fixed;
	background: black;
	opacity: .6;
	display:none;
}
.video{
	background: none;
	display:flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	z-index:99;
	display:none;
}
.pasos .steps li div{
	padding-top:10px;
}
.pasos .steps li span{
	font-weight: bold;
}
.pasos .steps li span.light{
	font-weight: 300;
	width: 100%;
}
.facil{
	background:#f8f8f8;
	margin-top: 30px;
	padding:20px 0;
}
.facil .content{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 85%;
}
.facil .content .text{
	width: 17%;
	margin:0 5px;
}
.facil .logo{
	display:flex;
	justify-content: center;
	align-items: center;
	width: 20%;
}
.facil .logo span{
	margin: 0 10px;
	margin-left: 40px;
}
.facil .logo img{
	height:70px;
	width: auto;
}
.facil span{
	font-size: 25px;
	color:rgb(81, 119, 173);
	margin-bottom: 5px;
}
.plazas{
	width: 100%;
	position: relative;
}
.plazas .img{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	z-index: -1;
	overflow: hidden;
	display: flex;
	justify-content: center;
}
.plazas .blue{
	background: #5177ad;
	z-index: -2;
	opacity: .5;
}
.plazas .pz_mb{
	display: none;
}
.plazas .img img{
	height: 100%;
	width: 100%;
}
.plazas .content{
	color:white;
	width: 70%;
	padding:40px;
}
.plazas h2{
	font-size: 35px;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	font-weight: normal;
}
.plazas ul{
	margin-top: 30px;
	display:flex;
	justify-content: space-between;
	align-items: flex-start;
	font-size: 20px;
}
.plazas ul li{
	margin-bottom: -5px;
}
.plazas .plazas_btn{
	display: block;
	padding:15px;
	width: 45%;
	margin: 0 auto;
	margin-top: 40px;
	background: #c9df4f;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	cursor:pointer;
}
footer{
	background: #385b8d;
	padding:20px 0;
}
footer .content{
	color:white;
	width: 60%;
	display:flex;
	justify-content: space-between;
	align-items: center;
}
footer .imgs{
	width: 20%;
	display:flex;
	justify-content: space-between;
}
footer .imgs img{
	height: 50px;
	width: auto;
}

@keyframes change{
	0%{margin-left: 0;}
	20%{margin-left: 0;}

	25%{margin-left: -100%;}
	45%{margin-left: -100%;}

	50%{margin-left: -200%;}
	70%{margin-left: -200%;}

	75%{margin-left: -300%;}
	100%{margin-left: -300%;}
}

@media screen and (max-width: 1920px){
	.thumb .slider ul li img{
		width: auto;
	}
}
@media screen and (max-width: 1830px){
	.plazas .img img{
		width: auto;
		height: 100%;
	}
}
@media screen and (max-width: 1250px){
	.thumb .slider ul li img{
		width: auto;
	}	
}

@media screen and (max-width: 1000px){
	.thumb .content{
		top:30%;
		width: 97%;
		flex-direction: column;
		align-items: center;
	}
	.thumb .slider ul li,
	.plazas .img{
		display:flex;
		justify-content: flex-start;
	}
	.thumb .content .text .pt-2,
	.thumb .content .mobile{
		background: #f8f8f8;
	}
	.plazas .img img{
		width: auto;
	}
	.thumb .content .text{
		width: 100%;
	}
	.thumb .content .list{
		margin-bottom: 150px;
	}
	.thumb .content .form{
		margin-top: 60px;
		width: 50%;
	}
	.pasos{
		margin-top: 1250px;
	}
	.pasos .youonly .princ,
	.pasos .youonly .second{
		font-size: 30px;
	}
	.facil .content{
		width: 97%;
	}
	.plazas .content{
		width: 100%;
	}
	footer .content{
		width: 90%;
	}
}
@media screen and (max-width: 800px){
	.thumb .content .form{
		width: 60%;
	}
	.pasos .content{
		flex-direction: column;
		align-items: center;
	}
	.pasos .content .youonly,
	.pasos .content .steps{
		width: 100%;
	}
	.pasos .content .youonly .video_btn{
		display:flex;
		align-items: center;
		margin:30px auto;
	}
	.facil .content{
		flex-direction: column;
		align-items: center;
	}
	.facil .content .logo{
		width: 100%;
		margin-bottom: 30px;
	}
	.facil .content .text{
		text-align: center;
		width: 100%;
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 768px){
	header>.logo,
	header>.menu{
		display:none;
	}
	header{
		padding:0;
	}
	.menu_mobile{
		display:flex;
		justify-content: space-between;
		align-items: center;
		padding:10px 20px;
		width: 100%;
	}
	.menu_mobile .logo img{
		height: 50px;
		width: auto;
	}
	.menu_mobile .bars i{
		font-size: 20px;
		color:rgba(0,0,0,.7);
	}
	.black{
		display:none;
		position: fixed;
		top:0;
		height: 100%;
		width: 100%;
		background: black;
		opacity: .4;
		z-index: 998;
	}
	.menu_options{
		display:block;
		margin-right: -40%;
		position: fixed;
		top:0;
		right: 0;
		width: 40%;
		background: white;
		z-index: 999;
		padding:20px;
		height: 100%;
		box-shadow: 0 0 10px gray;
	}
	.menu_options .cross{
		width: 100%;
		display: flex;
		justify-content: flex-end;
		font-size: 20px;
		color:rgba(0,0,0,.7);
	}
	.menu_options nav{
		margin-top: 40px;
		display:flex;
		flex-direction: column;
	}
	.menu_options nav a{
		text-decoration: none;
		color:rgba(0,0,0,.8);
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 12px;
		padding-bottom: 5px;
		border-bottom: 2px solid rgb(0, 177, 105);
	}
	.thumb .slider ul li img{
		width: 100%;
		height: 100%;
	}
	.thumb .content{
		position: static;
	}
	.thumb .content .text .desktop{
		display: none;
	}
	.thumb .content .mobile{
		display: block;
		margin-top: 30px;
	}
	.thumb .content .text .list li{
		color:rgba(0,0,0,.6);
		font-weight: 300;
	}
	.thumb .content .text .list li span{
		color:rgb(0, 177, 105);
	}
	.thumb .content .form{
		margin-top: 0;
	}
	.pasos{
		margin-top: 30px;
	}
	.pasos .steps li img{
		margin-right: 20px;
	}
	.plazas .content{
		width: 100%;
		padding:20px 0;
	}
	.plazas ul{
		flex-wrap: wrap;
		justify-content: flex-end;
	}
	.plazas ul>div{
		width: 45%;
		display:flex;
		align-items: center;
		flex-direction: column;
	}
	.plazas ul>div li{
		width: 70%;
	}
	footer .content{
		flex-direction: column;
	}
	footer .imgs{
		margin-top: 20px;
		width: 70%;
		justify-content: space-around;
	}
}
@media screen and (max-width: 600px){
	.menu_options{
		width: 50%;
		margin-right: -50%;
	}
	.thumb .content{
		width: 95%;
		margin-top: 10px;
	}
	.thumb .content .text{
		margin-top: 0;
	}
	.thumb .content .text h1{
		font-size: 33px;
	}
	.thumb .content .text .list li{
		font-size: 20px;
		font-weight: normal;
	}
	.thumb .content .text .list li span{
		font-size: 30px;
	}
	.thumb .content h2{
		font-size: 30px;
		text-align: center;
		margin-bottom: 10px;
	}
	footer p{
		width: 100%;
		text-align: center;
	}
}
@media screen and (max-width: 550px){
	.message p{
		font-size: 17px;
	}
}
@media screen and (max-width: 500px){
	.video iframe{
		max-height: 50%;
		width: 90%;
	}
	.thumb .content .text h1{
		font-size: 29px;
		margin-bottom: 3px;
	}
	.thumb .content .text .list li{
		margin-bottom: -10px;
	}
	.thumb .content .list2 li{
		font-size: 18px;
		margin-bottom: -10px;
	}
	.thumb .content .list2 li span.bull{
		font-size: 30px;
	}
	.thumb .content .form{
		width: 80%;
	}
	.pasos .content{
		width: 90%;
	}
	.pasos .youonly .princ,
	.pasos .youonly .second{
		font-size: 25px;
	}
	.pasos .steps li img{
		height: 55px;
	}
	.pasos .steps ul li .txt{
		font-size: 20px;
	}
	.plazas h2{
		font-size: 29px;
	}
	.plazas ul>div li{
		width: 95%;
		font-size: 18px;
	}
	.plazas .plazas_btn{
		width: 70%;
		padding:10px ;
		font-size: 18px;
	}
}
@media screen and (max-width: 450px){
	.message{
		padding:15px;
	}
	.message p{
		font-size: 16px;
		letter-spacing: 0;
	}
}
@media screen and (max-width: 400px){
	.menu_options{
		width: 60%;
		margin-right: -60%;
	}
	.menu_options nav a{
		font-size: 17px;
	}
	.message p{
		font-size: 15px;
	}
	.message i{
		font-size: 16px;
	}
	.thumb .slider ul.sl_desktop{
		display: none;
	}
	.thumb .slider ul.sl_mobile{
		display:flex;
	}
	.thumb .slider ul li img{
		width: 100%;
		height: auto;
	}
	.plazas .pz_dk{
		display: none;
	}
	.plazas .pz_mb{
		display: block;
	}
	.plazas .img img{
		width: 100%;
		height: auto;
	}
	.plazas h2{
		font-size: 26px;
	}
	footer p{
		font-size: 14px;
	}
}
@media screen and (max-width: 360px){
	.message{
		padding:15px 10px;
	}
	.message p{
		font-size: 14px;
	}
	.thumb .content .text h1{
		font-size: 25px;
	}
	.thumb .content .text .list li{
		font-size: 18px;
	}
	.thumb .content h2{
		font-size: 25px;
		width: 100%;
	}
	.thumb .content .form{
		width: 97%;
		padding:0;
		padding:10px 15px;
	}
	.pasos .steps ul li img{
		margin-right: 10px;
	}
	.plazas .content{
		width: 100%;
	}
	.plazas h2{
		font-size: 25px;
	}
	.plazas ul{
		justify-content: flex-end;
		width: 100%;
	}
	.plazas ul>div li{
		width: 100%;
		font-size: 16px;
	}
}

p { margin-bottom: inherit!important;}

.pasos .content .youonly .video_btn p{
		margin-bottom:0!important;
}